@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Andika&family=Catamaran:wght@400;500&family=Montserrat:wght@200;400&family=Open+Sans&family=Poppins:wght@200;300;400&family=Raleway:ital,wght@0,300;0,400;0,600;1,300&family=Tangerine:wght@400;700&family=Vollkorn&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-family: "Andika", sans-serif;
  font-family: "Catamaran", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Tangerine", cursive;
  font-family: "Vollkorn", serif;
  font-family: "Work Sans", sans-serif;
  background: #e0f2fe;
  /* min-height: 100vh; */
  /* display: flex;
  justify-content: center; */
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  text-align: center;
  margin: 0.5rem;
  background: #fff;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
}

.book h2 {
  margin-top: 1rem;
}

.book img {
  margin-top: 1rem;
  width: 80%;
  height: 80%;
}
